<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Vivienda</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 p-6 text-sm">
  <div class="max-w-md mx-auto bg-white rounded-xl p-5 shadow">

        <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-bold text-orange-600">Vivienda</h1>
        <a href="/" class="bg-orange-500 text-white px-4 py-2 rounded-lg hover:bg-orange-600">Volver</a>
        </div>

    <!-- Integrante 1 -->
    <div class="mb-6 border border-gray-200 rounded-lg p-4">
      <p class="font-semibold mb-2 text-orange-500">Vivienda</p>

      <label class="block mt-2">Material predominante de construcción:</label>
      <input type="text" value="Ladrillo" class="w-full px-3 py-1 border rounded bg-gray-50">

      <label class="block mt-2">Estado general de la vivienda:</label>
    <select class="w-full px-3 py-1 border rounded bg-gray-50">
    <option selected>Buena</option>
    <option>Regular</option>
    <option>Mala</option>
    </select>
    </div>

  </div>
</body>
</html>
